<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.1.1" targetFramework="net48" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net48" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net48" />
</packages>